<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>{{ htmlWebpackPlugin.options.title }}</title>
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    body, canvas {
      background-color: #000;
    }

    canvas {
      border: 1px solid #555;
      position: absolute;
    }

    #canvas-2d {
      background-color: rgba(0,0,0,0);
    }
  </style>
</head>

<body>
  <canvas height="600" width="600" id="canvas-webgl"></canvas>
  <canvas height="600" width="600" id="canvas-2d"></canvas>
</body>

</html>
