<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>{{ htmlWebpackPlugin.options.title }}</title>
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    body, canvas {
      background-color: #000;
    }

    canvas {
      border: 1px solid #555;
    }
  </style>
</head>

<body>
  <canvas height="600" width="600"></canvas>
</body>

</html>
